body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.clock-container {
    margin: 3rem;
    text-align: center;
}

.clock-title {
    font-size: 2rem;
    display: block;
}

.clock-border {
    display: inline-block;
    background-color: #ddd;
    padding: 2rem;
    border-radius: 6%;
}

.clock {
    display: inline-block;
    border-radius: 50%;
    height: 25em;
    position: relative;
    width: 25em;
    opacity: 1;
    /*-webkit-perspective: 60em;*/
    /*perspective: 60em;*/
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: all 2.5s cubic-bezier(0.12, 1.03, 0.34, 1);
}

.clock-bg {
    background: #fff url(../svg/clock.svg) no-repeat center;
    background-size: 90%;
}

.clock.simple:before {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 6%;
    height: 6%;
    z-index: 10;
}

.clock.simple:after {
    background: #ff0000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 2%;
    height: 2%;
    z-index: 10;
}

.minutes-container,
.hours-container,
.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    background: #000;
    border-radius: 85%/10%;
    width: 2%;
    height: 20%;
    left: 49%;
    top: 30%;
    position: absolute;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

.minutes {
    background: #000;
    border-radius: 150%/10%;
    width: 2%;
    height: 35%;
    left: 49%;
    top: 15%;
    position: absolute;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}

.seconds {
    background: #ff0000;
    border-radius: 200%/10%;
    width: 1%;
    height: 30%;
    left: 49.5%;
    top: 20%;
    position: absolute;
    transform-origin: 50% 80%;
    -webkit-transform-origin: 50% 100%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}

/*.minutes-container {*/
/*animation: rotate 3600s infinite linear;*/
/*}*/

/*.seconds-container {*/
/*animation: rotate 60s infinite linear;*/
/*}*/

/*.minutes-container {*/
/*animation: rotate 3600s infinite steps(60);*/
/*}*/

/*.seconds-container {*/
/*animation: rotate 60s infinite steps(60);*/
/*}*/

.minutes-container {
    transition: transform 0.3s cubic-bezier(.4, 2.08, .55, .44);
}

.seconds-container {
    transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);
}