.clock-trans {
    transform: scaleY(0.6) rotateY(60deg) rotateX(30deg) translateX(-25rem) translateY(8rem);
    -webkit-transform: scaleY(0.6) rotateY(60deg) rotateX(30deg) translateX(-25rem) translateY(8rem);
}

.clock-bg-trans {
    background: #9c9c9c url(../svg/clock.svg) no-repeat center;
    background-size: 90%;
}

.minutes-container-trans,
.hours-container-trans,
.seconds-container-trans {
    background-color: white;
    opacity: 0.6;
}

.extrude1,
.extrude2,
.extrude3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.extrude1 {
    transform: translateZ(2em);
    -webkit-transform: translateZ(2em);
    opacity: 0.5;
}

.extrude2 {
    transform: translateZ(9em);
    -webkit-transform: translateZ(9em);
    opacity: 0.8;
}

.extrude3 {
    transform: translateZ(16em);
    -webkit-transform: translateZ(16em);
    opacity: 1;
}