body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.clock-container {
    margin: 3rem;
    text-align: center;
}

.clock-title {
    font-size: 2rem;
    display: block;
}

.clock-border {
    display: inline-block;
    background-color: #ddd;
    padding: 2rem;
    border-radius: 5%;
}

.clock {
    display: inline-block;
    border-radius: 50%;
    height: 25em;
    position: relative;
    width: 25em;
    opacity: 1;
    transition: all 2.5s cubic-bezier(0.12, 1.03, 0.34, 1);
}

.clock-bg {
    background: #fff url(../svg/clock.svg) no-repeat center;
    background-size: 90%;
}

.clock.simple:before {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container,
.hours-container,
.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hours {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

.minutes {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}

.seconds {
    background: #ff0000;
    height: 45%;
    left: 49.5%;
    position: absolute;
    top: 14%;
    transform-origin: 50% 80%;
    width: 1%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}

/*.minutes-container {*/
/*animation: rotate 3600s infinite linear;*/
/*}*/

/*.seconds-container {*/
/*animation: rotate 60s infinite linear;*/
/*}*/

/*.minutes-container {*/
/*animation: rotate 3600s infinite steps(60);*/
/*}*/

/*.seconds-container {*/
/*animation: rotate 60s infinite steps(60);*/
/*}*/

.minutes-container {
    transition: transform 0.3s cubic-bezier(.4, 2.08, .55, .44);
}

.seconds-container {
    transition: transform 0.2s cubic-bezier(.4, 2.08, .55, .44);
}